    /* Top Banner Starts */
    .top-banner{
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .top-banner img{
        width: 100%;
    }
    .top-banner .top-banner-text{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .top-banner .top-banner-text h1{
        color: #fff;
        font-size: 3.5rem;
        font-weight: 800;
    }
    .top-banner .top-banner-text h6{
        color: #d25826;
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 0.5rem;
    }
    .top-banner .top-banner-text i{
        color: #fff;
        margin: 0 3px;
    }
    .top-banner .top-banner-text a{
        color: #fff;
        text-decoration: none;
    }
    .top-banner .banner-layer{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.415);
        position: absolute;
        top: 0;
        z-index: 1;
    }

    @media screen and (max-width: 576px) {
        .top-banner img{
            height: 8rem;
        }
        .top-banner .top-banner-text h1{
            font-size: 2.3rem;
        }
        .top-banner .top-banner-text h6{
            font-size: 0.9rem;
            margin-top: 0.1rem;
        }
    }
    /* Top Banner Ends */

    /* Gallery Tabbing System Start */
    .gallery-tabs{
        padding: 5rem 0 3rem 0;
        border-bottom: 1.3px solid #bebebe;
    }
    .gallery-tabs .gallery-tab-head{
        border-bottom: 1.3px solid #bebebe;
        display: flex;
    }
    .gallery-tabs .gallery-tab-head button{
        background-color: transparent !important;
        color: #000 !important;
        font-weight: 450 !important;
        font-size: calc(0.8rem + 0.5vw);
        border-radius: 0;
        border-bottom: 3.5px solid transparent;
        text-transform: uppercase;
        margin-right: 1rem;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .gallery-tabs .gallery-tab-head button:hover{
        background-color: #f8f7f7 !important;
    }
    .gallery-tabs .gallery-tab-head button:last-child{
        margin-right: 0;
    }
    .gallery-tabs .gallery-tab-head button.active{
        font-weight: 800 !important;
        border-bottom: 3.5px solid #538361;
        background-color: #f8f7f7 !important;
    }


    .gallery-tab-body .gallery-tab-content-head{
        border: 1.5px solid #000;
        padding: 1.5rem 3rem;
        border-radius: 10px;
        margin-top: 2rem;
        position: relative;
    }
    .gallery-tab-body .gallery-tab-content-head p{
        margin: 0;
        font-size: calc(0.7rem + 0.5vw);
    }
    .gallery-tab-body .gallery-tab-content-head .colon{
        background-color: #fff;
        padding: 0.8rem;
        position: absolute;
    }
    .gallery-tab-body .gallery-tab-content-head img{
        width: 20px;
    }
    .gallery-tab-body .gallery-tab-content-head #colon-1{
        top: -20px;
        left: -20px;
    }
    .gallery-tab-body .gallery-tab-content-head #colon-2{
        bottom: -18px;
        right: -20px;
    }

    .gallery-tab-body .gallery-card-row{
        margin-top: 1.7rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }
    .gallery-tab-body .gallery-card{
        width: 32%;
        margin-bottom: 1.5rem;
        position: relative;
        overflow: hidden;
    }
    .gallery-tab-body .gallery-card img{
        width: 100%;
        border-radius: 7px;
    }
    .gallery-tab-body .gallery-card .layer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        position: absolute;
        bottom: -100%;
        background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.271));
        transition: all 0.6s ease;
    }
    .gallery-tab-body .gallery-card .layer p{
        color: #fff;
        font-weight: 700;
        font-size: calc(0.7rem + 0.5vw);
        background-color: #538361;
        padding: 0.2rem 0.7rem;
        border-radius: 7px;
        text-align: center;
    }
    .gallery-tab-body .gallery-card:hover .layer{
        bottom: 0;
    }

    @media screen and (max-width: 767px) {
        .gallery-tabs{
            padding: 2rem 0.8rem 0.5rem 0.8rem;
        }
        .gallery-tabs .gallery-tab-head{
            flex-wrap: wrap;
        }
        .gallery-tabs .gallery-tab-head button{
            width: 100%;
            text-align: left;
            font-size: calc(0.9rem + 0.5vw);
            margin-right: 0;
            padding: 0.4rem 0.5rem;
            border-bottom: 0;
            border-left: 4px solid transparent;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .gallery-tabs .gallery-tab-head button.active{
            border-bottom: 0;
            border-left: 4px solid #538361;
        }

        .gallery-tab-body .gallery-tab-content-head{
            padding: 1.3rem 0.5rem;
            margin-top: 1.5rem;
        }
        .gallery-tab-body .gallery-tab-content-head p{
            font-size: calc(0.7rem + 0.5vw);
        }
        .gallery-tab-body .gallery-tab-content-head .colon{
            padding: 0.5rem;
        }
        .gallery-tab-body .gallery-tab-content-head img{
            width: 15px;
        }
        .gallery-tab-body .gallery-tab-content-head #colon-1{
            top: -18px;
            left: -10px;
        }
        .gallery-tab-body .gallery-tab-content-head #colon-2{
            bottom: -15px;
            right: -10px;
        }

        .gallery-tab-body .gallery-card-row{
            margin-top: 1.5rem;
            gap: 0;
            justify-content: space-between;
        }
        .gallery-tab-body .gallery-card{
            width: 100%;
            margin-bottom: 0.7rem;
        }
        .gallery-tab-body .gallery-card .layer p{
            font-size: calc(0.9rem + 0.5vw);
            padding: 0.2rem 0.7rem;
        }
    }
    /* Gallery Tabbing System End */

    /* Gallery Modal Start */
    #galleryModal img {
        border-radius: 8px;
    }
    #galleryModal .modal-body {
        background-color: #fff;
        padding: 1rem;
        border-radius: 10px;
    }

    @media screen and (max-width: 767px) {
        #galleryModal img {
            border-radius: 5px;
        }
        #galleryModal .modal-body {
            padding: 0.4rem;
            border-radius: 8px;
        }
    }

    @media screen and (min-width: 768px) {
        #galleryModal {
            visibility: hidden !important;
            pointer-events: none !important;
        }
    }
    /* Gallery Modal End */

    /* Footer Section Starts */
    footer{
        margin-top: 5rem;
    }
    /* Footer Section Ends */