/* Top Banner Starts */
.top-banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.top-banner img {
  width: 100%;
}
.top-banner .top-banner-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.top-banner .top-banner-text h1 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 800;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.top-banner .top-banner-text h6 {
  color: #d25826;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.top-banner .top-banner-text i {
  color: #fff;
  margin: 0 3px;
}
.top-banner .top-banner-text a {
  color: #fff;
  text-decoration: none;
}
.top-banner .banner-layer{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.415);
  position: absolute;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 576px) {
  .top-banner img{
      height: 8rem;
  }
  .top-banner .top-banner-text h1{
      font-size: 2rem;
  }
  .top-banner .top-banner-text h6{
      font-size: 0.9rem;
      margin-top: 0.2rem;
  }
}
/* Top Banner Ends */

/*  Supporters Section Starts */
.supporters {
  padding: 5rem 3rem;
  overflow: hidden;
}
.supporters h2 {
  font-size: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #d25826;
}
.supporters .line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #d25826;
  margin: 0.5rem 0 3rem 0;
}
.supporter-card {
  width: 24%;
  background-color: #efefef;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 2.5rem;
}
.supporter-card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3%;
}
.supporter-card img {
  width: 100%;
  border-radius: 7px;
  margin-bottom: 1.5rem;
}
.supporter-card p {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0;
}

@media screen and (max-width: 576px) {
  .supporters {
    padding: 2.5rem 1rem;
  }
  .supporters h2 {
    font-size: 1.4rem;
  }
  .supporters .line {
    margin: 0.4rem 0 1.7rem 0;
  }
  .supporter-card {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .supporter-card-row {
    flex-direction: column;
    gap: 0;
  }
  .supporter-card img {
    margin-bottom: 1rem;
  }
  .supporter-card p {
    font-size: 1.1rem;
  }
}
