/* Top Banner Starts */
.top-banner {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .top-banner img {
    width: 100%;
  }
  .top-banner .top-banner-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .top-banner .top-banner-text h1 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 800;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .top-banner .top-banner-text h6 {
    color: #d25826;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .top-banner .top-banner-text i {
    color: #fff;
    margin: 0 3px;
  }
  .top-banner .top-banner-text a {
    color: #fff;
    text-decoration: none;
  }
  .top-banner .banner-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.415);
    position: absolute;
    top: 0;
    z-index: 1;
}

  @media screen and (max-width: 576px) {
    .top-banner img{
        height: 8rem;
    }
    .top-banner .top-banner-text h1{
        font-size: 2.3rem;
    }
    .top-banner .top-banner-text h6{
        font-size: 0.9rem;
        margin-top: 0;
    }
}
  /* Top Banner Ends */


  /* Tariff Section Starts */
  .tariff{
    padding: 5rem 0;
    overflow: hidden;
  }
  .tariff-section{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 3rem;
  }
  .tariff-left{
    width: 55vw;
  }
  .tariff h5{
    font-family: 'Montserrat', Arial, sans-serif;
  }
  .tariff h3{
    font-family: 'Montserrat', Arial, sans-serif;
    margin-top: 1rem;
    font-weight: 700;
    color: #d25826;
    font-style: italic;
  }
  .tariff-left table{
    width: 55vw;
    background-color: #e7e7e7;
    border: 1.5px dashed #616161;
    font-family: 'Montserrat', Arial, sans-serif;
  }
  .tariff-left table, th, td {
    border: 1.5px dashed #616161;
  }

  .tariff-left th, td {
    padding: 1rem;
    text-align: center;
    font-weight: 600;
  }
  .tariff-left td {
    font-weight: 500;
  }
  .tariff-right{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tariff-right #tariff-img{
    width: 65%;
  }
  .tariff-right #down_bro{
    width: 107%;
    margin-left: -9.2px;
    margin-top: 2rem;
  }
  .tariff p{
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1rem;
    margin-top: 1.2rem;
    font-weight: 500;
  }

  @media screen and (max-width: 576px) {
    .tariff{
      padding: 2rem 0.6rem;
    }
    .tariff-section{
      flex-direction: column;
      margin-top: 1.3rem;
    }
    .tariff-left{
      width: 100%;
    }
    .tariff h5{
      font-size: 0.9rem;
    }
    .tariff h3{
      font-size: 1.1rem;
      margin-top: 0.5rem;
    }
    .tariff-left table{
      width: 100%;
    }
    .tariff-left th, td {
      padding: 0.5rem;
      font-size: 0.5rem;
    }
    .tariff-right{
      width: 100%;
      margin-top: 1.2rem;
    }
    .tariff-right #tariff-img{
      width: 100%;
    }
    .tariff-right #down_bro{
      width: 100vw;
      margin-left: 0;
      margin-top: 0.8rem;
    }
    .tariff p{
      font-size: 0.9rem;
    }
  }
  /* Tariff Section Ends */


  /* Footer Starts */
  footer{
    margin-top: 1rem;
  }
  /* Footer Ends */